 body{
            margin: 0;
            padding: 0;
            height: 1547px;
        }
        .menu{
            border: 1px solid blue;
            /* position: sticky; */
        }
        .border{
            border: 1px solid blue;
        }
        .list{
            list-style-type: none;
            display: inline-block;
            /* border: 1px solid red; */
        }
       .name{
           display: inline-block;
           /* border: 1px solid blue; */
       }
       .list_div{
           display: inline-block;
           position: absolute;
           right: 0;
           /* margin: 0px; */
           /* padding: 0px; */
           height: 20px;
       }
       .button_list{
           position: absolute;
           top: 0px;
           right: 15px;
           padding: 0px;
           font-size: 12px;
            /* border: 1px solid red; */
       }